:root {
  --general-font-color: #000;
  --general-font-color-light: #cccccc;
  --general-font-color-title: #ee75d1;
  --special-title-color: #ec09ea;
  --general-border-radius: 0px;
}

.App {
  text-align: center;
}

.tweakpane-container {
  margin: 20px auto;
  max-width: 550px;
}

.container {
  color: var(--primary-color);
  background-color: var(--background-color);
  margin: var(--general-margin);
  padding: var(--general-padding);
  border-radius: var(--general-border-radius);
}
